@import "assets/scss/variables";
@import "assets/scss/reboot";
@import "assets/scss/breakpoints";
@import "assets/scss/section1";
@import "assets/scss/section2-7";
@import "assets/scss/section8";
@import "assets/scss/section9";
@import "assets/scss/section10";
@import "assets/scss/add-on-classes";

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9,
.section-10,
.section-11 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;

  .no-caption-arrow,
  .slider-arrow,
  .arrow {
    i {
      font-size: $arrow-size-small;
      color: $main-color;

      @include respond-to("bp1.5") {
        font-size: $arrow-size-medium;
      }
    }
  }
}

// .cursors {
//   div {
//     position: absolute;
//     z-index: 1000;
//     top: 5em;
//     left: 3em;
//     width: 3em;
//     height: 3em;
//     border-radius: 50%;
//     pointer-events: none;
//     background-color: green;
//   }
// }
