/////////// Add on classes \\\\\\\\\\\\\

#active {
  color: $main-color;
}

#move-in {
  z-index: 20;
  top: 0;
  animation: opacity 1s ease-in;
}

#blend-in {
  animation: opacity 1s ease-in-out delay 1 alternate;
}

#move-in-full-width {
  position: fixed;
  z-index: 105;
  animation: opacity 0.5s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#me-pic-move-in {
  left: -5em;
  border-radius: 50%;
}

#move-in-caption {
  position: fixed;
  left: 0;
  width: 100%;
}

#update-id {
  left: 0;
  width: 100%;
}

#move-section-in-left {
  left: 0;
  transition: all ease-in-out 1s;
  animation: opacity 1.5s ease-in-out;

  @include respond-to("bp2") {
    left: 20%;
    width: 80%;
  }
}

#move-section-in-right {
  right: 0;
  transition: all ease-in-out 1s;
  animation: opacity 1.5s ease-in;
}

#move-section-in-bottom {
  top: 0;
  transition: all ease-in-out 1s;
  animation: opacity 1.5s line;
}

#move-section-out-bottom {
  top: 200%;
  transition: all ease-in-out 1s;
  animation: opacity 1.5s line;
}

#move-menu-out-right {
  left: 100%;
}

#move-menu-out-left {
  left: -100%;
}

#move-menu-out-top {
  top: -100%;
}

#remove-scroll {
  overflow: hidden;
}

#rotate-arrow-180 {
  transform: rotate(180deg);
}

#img-lens-grow {
  display: none;
  width: 40%;
  animation: lens-grow-animation 30s ease-in-out infinite;

  @include respond-to("bp1") {
    display: block;
    width: 40%;
    animation: lens-grow-animation 30s ease-in-out infinite;
  }
}

@keyframes lens-grow-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(320deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(320deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#img-lens-grow-twitch {
  animation: twitch 5s cubic-bezier(0.28, 0.84, 0.42, 1) 1;
}

#img-lens-grow-twitch-reverse {
  animation: twitch 5s cubic-bezier(0.28, 0.84, 0.42, 1) 1 reverse;
}

@keyframes twitch {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//Add On Id's
.move-up {
  top: 0;
}

#move-up2 {
  position: fixed;
  left: 0;
  top: 100%;
  animation: fade-in 5s 1 ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
