$breakpoints: (
  "bp1": 20em,
  "bp1.25": 29em,
  "bp1.5": 30em,
  "bp2": 64em,
  "bp2.5": 65em,
  "bp3": 95em,
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin respond-to-custom($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
