.wrapper {
  .section-9 {
    z-index: 1;
    top: -100%;
    left: 0;
    width: auto;
    height: 100vh;

    @include respond-to("bp2") {
      left: 20%;
      width: 80%;

      .slider-arrow {
        display: none;
      }
    }

    .gallery-section {
      width: 100%;
      height: 100%;
      margin: auto;
      user-select: none;

      .slider-arrow {
        position: absolute;
        z-index: 10;
        top: 2em;
        left: 2em;
        transition: all 1s ease-in-out;

        @include respond-to("bp2") {
          display: none;
        }
      }

      #stage {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 1;

        @include respond-to("bp2") {
          width: 100%;
        }

        a {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          cursor: crosshair;

          img {
            position: relative;
            object-fit: contain;
            object-position: -130vw;
            width: auto;
            height: 100%;

            @include respond-to("bp1.5") {
              object-position: -50vw;
            }

            @include respond-to("bp2") {
              object-position: -5vw;
            }

            @include respond-to("bp2.5") {
              object-position: 0vh;
            }

            // @include respond-to("bp3") {
            //   object-position: 0vh;
            //   width: 100%;
            //   height: auto;
            // }
          }

          &:nth-of-type(1) {
            animation-name: fader;
            animation-delay: 2s;
            animation-duration: 3s;
            z-index: 20;
          }

          &:nth-of-type(2) {
            z-index: 10;
          }

          &:nth-of-type(n + 3) {
            display: none;
          }
        }
      }

      @keyframes fader {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      .move-left-current-slide {
        animation-name: moveLeftCurrent;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      .move-left-next-slide {
        animation-name: moveLeftNext;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      @keyframes moveLeftCurrent {
        from {
          margin-left: 0;
          opacity: 1;
        }
        to {
          margin-left: -100%;
          opacity: 1;
        }
      }
      @keyframes moveLeftNext {
        from {
          margin-left: 100%;
          opacity: 1;
        }
        to {
          margin-left: 0%;
          opacity: 1;
        }
      }
    }
  }
}
