.wrapper {
  .section-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // display: none;

    @include respond-to("bp2") {
      position: relative;
      height: 100%;
      width: 20%;
    }

    .menu-container {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
      align-content: center;
      padding: 1em 0 2em 0;

      .logo {
        width: 40%;
        margin: 0 auto;
        cursor: url(assets/img/logo/Dirk-Logo-grey-small.png) 15 15, pointer;

        @include respond-to("bp1.25") {
          max-width: 24%;
        }

        @include respond-to("bp1.5") {
          max-width: 24%;
        }

        @include respond-to("bp2") {
          max-width: 44%;
        }

        // @include respond-to("bp1.5") {
        //   width: 100%;
        // }

        img {
          width: 100%;
        }

        h2 {
          position: relative;
          width: 100%;
          top: -0.5em;
          font-size: 0.9em;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          color: $secondary-color;
          letter-spacing: 0.05em;
          transition: all 1s ease-in-out;

          @include respond-to("bp1.25") {
            letter-spacing: 0.25em;
            font-size: 0.5em;
          }

          @include respond-to("bp1.5") {
            letter-spacing: 0em;
            font-size: 1em;
          }

          @include respond-to("bp2") {
            letter-spacing: 0em;
            font-size: 0.7em;
          }

          @include respond-to("bp3") {
            font-size: 1em;
            letter-spacing: 0.15em;
          }
        }
      }

      .ball {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        background: $main-color;
        opacity: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 1s;
      }

      .menu {
        position: relative;
        height: 80%;
        width: 40%;
        margin: 0 auto;

        @include respond-to("bp1") {
          height: 100%;
        }

        @include respond-to("bp2") {
          width: 100%;
        }

        ul {
          position: relative;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding-top: 0.25em;

          @include respond-to("bp1.5") {
            width: 100%;
          }

          @include respond-to("bp2") {
            height: 70%;
            align-items: left;
          }

          li {
            position: relative;
            width: 100%;

            button {
              display: block;
              width: 100%;
              font-size: 1.15em;
              color: $secondary-color;
              text-align: center;
              text-transform: uppercase;
              border-radius: 10px;
              padding: 0.35em 0.5em;
              background-color: rgba($color: $secondary-color, $alpha: 0.25);
              transition: all 1s ease-in-out;

              @include respond-to("bp1.5") {
                padding: 1em 2em;
                letter-spacing: 0.25em;
              }

              @include respond-to("bp2") {
                font-size: 1em;
                font-weight: 700;
                background-color: transparent;
                padding: 0;
              }

              a {
                &:hover {
                  cursor: url(assets/img/logo/Dirk-Logo-grey-small.png) 15 15,
                    pointer;
                  color: $text-color;
                }
              }

              &:hover {
                cursor: url(assets/img/logo/Dirk-Logo-grey-small.png) 15 15,
                  pointer;
                color: $text-color;
              }
            }

            @include respond-to("bp2") {
              &::before {
                content: "";
                position: absolute;
                bottom: -75%;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
                height: 1px;
                background-color: rgba($color: $text-color, $alpha: 0.15);
              }

              @include respond-to("bp2.5") {
                &::before {
                  bottom: -110%;
                }
              }

              // &:nth-last-child(1) {
              //   &::after {
              //     content: "";
              //     position: absolute;
              //     bottom: -50%;
              //     left: 0;
              //     width: 100%;
              //     height: 1px;
              //     background-color: rgba($color: $text-color, $alpha: 0.15);
              //   }
              // }

              // &:nth-last-child(2) {
              //   &::after {
              //     content: "";
              //     position: absolute;
              //     bottom: -50%;
              //     left: 0;
              //     width: 100%;
              //     height: 1px;
              //     background-color: rgba($color: $text-color, $alpha: 0.15);
              //   }
              // }
            }
          }
        }
        .social {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: space-between;
          margin: 1em auto 0 auto;

          i {
            display: block;
            font-size: $icon-size-small;
            color: $secondary-color;
            transition: all 1s ease-in-out;

            @include respond-to("bp1.5") {
              font-size: $icon-size-medium;
            }

            @include respond-to("bp2") {
              margin-top: 0.5em;

              &:hover {
                cursor: url(assets/img/logo/Dirk-Logo-grey-small.png) 15 15,
                  pointer;
                color: $text-color;
              }
            }
          }

          @include respond-to("bp2") {
            display: inline-block;
          }
        }
      }
    }

    footer {
      position: absolute;
      width: 100%;
      bottom: 0.5em;
      background-image: radial-gradient(rgba(255, 255, 255, 1));
      background-color: rgba($color: $neutral-color, $alpha: 0.25);

      a {
        p {
          font-size: 0.75em;
          font-weight: 300;
          letter-spacing: 0.15em;
          color: $text-color;
          text-align: center;

          span {
            position: relative;
            display: inline;
            right: 300%;
            color: $secondary-color;
            transition: all 1s ease-in-out;
            transition-delay: 1.2s;
          }

          .animate-span {
            right: 0;
            color: $text-color;
          }
        }
      }
    }
  }
}
