.wrapper {
  .section-8 {
    z-index: 3;
    top: 0;
    right: 100%;
    flex-direction: column;
    overflow: hidden;
    background-color: $secondary-color;

    @include respond-to("bp2.5") {
      width: 80%;
    }
    .about-content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 4em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond-to("bp1.5") {
        padding: 0 6em;
      }

      @include respond-to("bp2") {
        padding: 0 20%;
      }

      .no-caption-arrow {
        position: absolute;
        top: 2em;
        left: 2em;
        color: $main-color;
        transition: all 2s ease-in-out;

        i {
          font-size: $arrow-size-small;
          color: $main-color;
          transition: all 1.5s ease-in-out;

          @include respond-to("bp1.5") {
            font-size: $arrow-size-medium;
          }
        }

        @include respond-to("bp2.5") {
          display: none;
        }
      }

      h1 {
        color: $neutral-color;

        @include respond-to("bp1.5") {
          font-size: 5em;
          text-align: right;
        }
      }
      .me-pic {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 2em 0;
        border-radius: 50%;
        box-shadow: 0px 5px 50px;
        overflow: hidden;
        transition: all 3s cubic-bezier(0.28, 0.84, 0.42, 1);

        @include respond-to("bp1.5") {
          margin: 4em auto;
          left: 130%;
          transition: all 3s cubic-bezier(0.28, 0.84, 0.42, 1);
        }

        @include respond-to("bp2") {
          width: 350px;
          height: 350px;
        }

        @include respond-to("bp2.5") {
          width: 300px;
          height: 300px;
          box-shadow: 0px 2px 10px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
      p {
        color: $neutral-color;
        font-size: $p-font-size-small;

        @include respond-to("bp1.5") {
          font-size: $p-font-size-medium;
          text-align: right;
        }
      }
    }
  }
}
