@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.wrapper {
  .section-10 {
    top: 100%;
    z-index: 2;
    // display: none;

    @include respond-to("bp2.5") {
      width: 80%;
      left: 20%;
    }

    .container {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      overflow-y: scroll;
      flex-direction: column;
      justify-content: space-between;
      background-color: $neutral-color;
      padding: 3em;

      // @include respond-to("bp3") {
      //   padding: 0 35em 0 35em;
      // }

      .background-gradient {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background: linear-gradient(
          to top,
          rgba(112, 112, 112, 0) 0%,
          rgba(112, 112, 112, 0.5) 50%,
          rgba(112, 112, 112, 0) 100%
        );
        background-color: $neutral-color;
        transition: all 2s ease-in-out;
      }

      .contact-arrow {
        position: relative;
        top: -1em;
        display: flex;
        justify-content: flex-end;
        z-index: 5;

        i {
          font-size: $arrow-size-small;
          color: $main-color;
          transition: all 1.5s ease-in-out;

          @include respond-to("bp1.5") {
            font-size: $arrow-size-medium;
          }
        }

        @include respond-to("bp2.5") {
          display: none;
        }
      }

      .contact-header {
        position: relative;
        top: 0;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;

        h1 {
          flex: 1 0 90%;
          color: $main-color;
          text-transform: uppercase;
          font-size: $h1-font-size-small;
          font-weight: 900;
          line-height: 1.5em;

          @include respond-to("bp1.5") {
            font-size: $h1-font-size-medium;
          }

          @include respond-to("bp2") {
            font-size: $h1-font-size-large;
          }

          span {
            position: relative;
            display: inline;
            right: 130%;
            color: $secondary-color;
            transition: all 1s ease-in-out;
            transition-delay: 1.2s;
          }

          .animate-span {
            right: 0;
            color: $main-color;
          }
        }
      }

      .img-lens {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1em auto;

        img {
          width: 0;
          transition: all 1s ease-in-out;
        }
      }

      form {
        position: relative;
        max-width: 50em;
        z-index: 2;
        margin: 0 auto;

        @include respond-to("bp1.5") {
          width: 70%;
        }

        label {
          // font-weight: 900;
          font-size: $form-labels-font-size-small;
          color: $main-color;
          background: radial-gradient(circle, $neutral-color);

          @include respond-to("bp1.5") {
            font-size: $form-labels-font-size-medium;
          }
        }

        input[type="text"],
        textarea {
          position: relative;
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          font-family: "Special Elite", cursive;
          resize: vertical;
          background-color: rgba($color: $secondary-color, $alpha: 0.25);
        }

        ::placeholder {
          opacity: 0.25;
          color: $secondary-color;
        }

        input[type="submit"] {
          @include button();
        }
      }
    }
  }
}
