.wrapper {
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-11 {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 100%;
    display: block;
    overflow-y: scroll;
    background-color: $main-color;
    // display: none;

    @include respond-to("bp2") {
      background-color: $neutral-color;
    }

    .container {
      position: relative;

      .slides {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .no-caption-arrow {
          position: sticky;
          z-index: 10;
          width: 100%;
          top: 0;
          right: 0;

          i {
            margin: 1em 0 0 1em;
            transition: all 1s ease-in-out;
          }

          @include respond-to("bp2") {
            display: none;
          }
        }

        .slide {
          position: absolute;
          z-index: 1;
          top: -5em;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          transition: all 1s ease-in-out;

          @include respond-to("bp2") {
            top: 0;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-x: hidden;
            overflow-y: scroll;
          }

          .major {
            position: relative;
            width: 100%;
            overflow: hidden;

            @include respond-to("bp2") {
              flex: 1 0 25%;
              margin: 2em;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 80%;

              &:hover {
                cursor: url(assets/img/logo/Dirk-Logo-grey-small.png) 15 15,
                  pointer;
              }
            }
          }
        }

        .captions {
          position: absolute;
          top: -100%;
          left: 0;
          height: 100%;
          width: 100%;

          .major {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $secondary-color;
            transition: all 1s ease-in-out;

            @include respond-to("bp2") {
              .area-container {
                position: absolute;
                z-index: 50;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;

                .left-area {
                  background-color: transparent;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 3%;
                  width: 15%;
                  height: 40%;
                  transition: all 5s ease-out;

                  &:hover {
                    cursor: url(assets/img/logo/chevron-left.png) 15 15, pointer;
                  }
                }

                .center-area {
                  background-color: transparent;
                  opacity: 30%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 64%;
                  height: 40%;
                  transition: all 5s ease-out;

                  &:hover {
                    cursor: url(assets/img/logo/window.png) 15 15, pointer;
                  }
                }

                .right-area {
                  background-color: transparent;
                  opacity: 30%;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 82%;
                  width: 15%;
                  height: 40%;
                  transition: all 5s ease-out;

                  &:hover {
                    cursor: url(assets/img/logo/chevron-right.png) 15 15,
                      pointer;
                  }
                }
              }
            }

            .arrow {
              position: absolute;
              z-index: 6;
              top: 2em;
              left: 2em;
              color: $main-color;
              transition: all 2s ease-in-out;

              @include respond-to("bp2") {
                display: none;
              }
            }

            h4 {
              font-size: $h4-font-size-small;
              padding: 0 2em;
              color: $text-color;
              text-align: right;

              @include respond-to("bp1.5") {
                margin-top: 1em;
                font-size: $h4-font-size-medium;
              }
            }

            img {
              position: relative;
              height: 100%;
              object-fit: contain;
              margin: 1em 0;

              // @include respond-to("bp1.5") {
              //   margin: 0.25em 0;
              // }

              // @include respond-to("bp2") {
              //   object-fit: cover;
              // }
            }

            p {
              color: $text-color;
              padding: 0 2em;
              font-size: $p-font-size-small;

              @include respond-to("bp1.5") {
                font-size: $p-font-size-medium;
              }
            }
          }
        }
      }
    }
  }
}
