@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");

/////// Colors \\\\\\\\\
$main-color: #eb5724;
$secondary-color: #707070;
$text-color: #000;
$neutral-color: #fff;

///////// Sizes \\\\\\\\\
$arrow-size-small: 2em;
$arrow-size-medium: 4em;
$arrow-size-large: 6em;

$icon-size-small: 2em;
$icon-size-medium: 3em;
$icon-size-large: 4em;

$h1-font-size-small: 2em;
$h1-font-size-medium: 3.5em;
$h1-font-size-large: 4.5em;

$h4-font-size-small: 1.5em;
$h4-font-size-medium: 2.5em;
$h4-font-size-large: 3.5em;

$p-font-size-small: 1em;
$p-font-size-medium: 1.5em;
$p-font-size-large: 2em;

$form-labels-font-size-small: 1em;
$form-labels-font-size-medium: 1.5em;
$form-labels-font-size-large: 2em;

$button-font-size-small: 1em;
$button-font-size-medium: 1.5em;
$button-font-size-large: 2.5em;

@mixin button() {
  position: relative;
  z-index: 2;
  font-size: $button-font-size-small;
  background-color: $main-color;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @include respond-to("bp1.5") {
    font-size: $button-font-size-medium;
  }

  &:hover {
    background-color: $secondary-color;
    transition: all 0.3s ease;
  }
}
